.sub {
    margin-top: -200px;
}
.pagination {
    display: flex;
    justify-content: center;
}

.btn-light {
    background-color: #FF8F00 !important;
}

.btn-info {
    background-color: #92C078 !important;
}

.title {
    margin-top: 200px !important;
}

.tete {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/banner.jpg");
    height: 400px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #C45525;
}

.page-text {
    color: black;
}

.page-link {
    color: black;
}

#liste {
    margin: 8%;
    background: #DE9440;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.5);
    color: #fff;
}

button {
    margin-top: 20px;
}