{% extends "product/base.html" %}

{% block content %}
{% load static %}
<head>
    <title>Mon compte</title>
    <!-- Favicon-->
    <link href="{% static 'product/css/dashboard_style.css' %}" rel="stylesheet">
</head>
     <div class="head container-fluid text-center">
            <div class="row">
                <div class="col-md-12 welcome">
                    <h1 class="font-weight-bold text-capitalize text-white" id="hello">Salut {{ user.username }}</h1>
                </div>
            </div>
     </div>
     <div class="text_email container text-center">
         <div class="row">
            <div class="col-md-12">
                <img id="remy"  src="{% static 'product/assets/img/remy-6.jpg' %}">
            </div>
         </div>
         <div class="row info">
            <div class="col-md-12 email">
                <h3 id="email" class="text"><b>Email: </b>{{ user.email }}</h3>
            </div>
            <div class="col-md-12 email">
                <h3 id="first_name" class="text"><b>Prenom: </b>{{ user.first_name }}</h3>
            </div>
            <div class="col-md-12 email">
                <h3 id="last_name" class="text"><b>Nom: </b>{{ user.last_name }}</h3>
            </div>
             <div class="col-md-12 email">
                <h3><a href="#" id="change" class="text">Modifier mes infos</a></h3>
            </div>
         </div>

    </div>
{% endblock %}
