<!DOCTYPE html>
<html lang="en">
{% extends "product/base.html" %}

{% block content %}
{% load static %}
<head>
    <title>Accueil</title>
    <link href="{% static 'product/css/register_style.css' %}" rel="stylesheet">
</head>
<body id="page">
    <div class="container content text-center">
        <div class="row">
            <div class="col-md-12">
               <h1><b>Inscription</b></h1>
            </div>
        </div>
        <div class="row line">
            <div class="col-md-6 text-left">
                <p><img src="{% static 'product/assets/img/colette-4.jpg' %}" alt="" id="colette"></p>
            </div>
            <div class="col-md-6">
               <form action="{% url 'register_view' %}" method="post">
                   {% csrf_token %}
                   {{ form.as_p }}
                   <button type="submit" class="btn btn-success" id="submit">Valider</button>
                </form>
                <h6 class="connexion">Deja un compte?<a href="{% url 'login_view' %}" id="connexion">    Connexion</a></h6>
            </div>
        </div>
    </div>
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
</body>
{% endblock %}
</html>