<!DOCTYPE html>
<html lang="en">
{% extends "product/base.html" %}

{% block content %}
{% load static %}
<head>
    <link href="{% static 'product/css/register_style.css' %}" rel="stylesheet">
</head>
<body id="page">
    <div class="container content text-center">
        <div class="row">
            <div class="col-md-12">
               <h1><b>Inscription</b></h1>
            </div>
        </div>
        <div class="row line">
            <div class="col-md-6 text-left">
                <p><img src="{% static 'product/assets/img/colette-4.jpg' %}" alt="" id="colette"></p>
            </div>
            <div class="col-md-6">
               <form action="{% url 'register_view' %}" method="post">
                   {% csrf_token %}
                   {{ form.as_p }}
                   <button type="submit" class="btn btn-success" id="submit">Valider</button>
                </form>
                <h6 class="connexion">Deja un compte?<a href="{% url 'login_view' %}" id="connexion">    Connexion</a></h6>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>