{% extends "product/base.html" %}

{% block content %}
{% load static %}
<head>
    <link href="{% static 'product/css/register_style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container content text-center">
        <div class="row line" style="margin-top: 100px;">
            <div class="col-md-12">
               <h1 style="margin-top: 100px;"><b>Mot de passe oublié?</b></h1>
            </div>
            <div class="col-md-12">
               <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success" id="submit">Valider</button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}
