<!DOCTYPE html>
<html lang="en">
{% extends "product/base.html" %}

{% block content %}
{% load static %}
<head>
    <title>{{ cat.name }}</title>
    <link href="{% static 'product/css/results_style.css' %}" rel="stylesheet">
</head>
<body id="page">
    <div class="tete container-fluid text-center">
        <div class="row">
            <div class="col-md-12 title">
                <h1 class="text-white font-weight-bold">Mes Substituts</h1>
            </div>
        </div>
    </div>
    <div class="sub container">
        <div class="row">
            <div class="col-md-12 title text-center">
                <h1 id="liste">Liste de mes substituts </h1>
            </div>
        </div>
        <div class="row list">
            {% for p in products %}
            {% csrf_token %}
        <div class="col-md-4 text-center">
                <div class="card text-white" style="background: #DE9440;">
                  <div class="card-header">
                     {% if p.nutriscore == "a" %}
                        <button class="btn btn-success nutri"><a href="{% url 'food_detail' p.id %}" class="text-white text-capitalize text-decoration-none">{{ p.nutriscore }}</a></button>
                    {% elif p.nutriscore == "b" %}
                        <button class="btn btn-info nutri"><a href="{% url 'food_detail' p.id %}" class="text-white text-capitalize text-decoration-none">{{ p.nutriscore }}</a></button>
                    {% elif p.nutriscore == "c" %}
                        <button class="btn btn-warning"><a href="{% url 'food_detail' p.id %}" class="text-white text-capitalize text-decoration-none">{{ p.nutriscore }}</a></button>
                    {% elif p.nutriscore == "d" %}
                        <button class="btn btn-light nutri"><a href="{% url 'food_detail' p.id %}" class="text-white text-capitalize text-decoration-none">{{ p.nutriscore }}</a></button>
                    {% else %}
                        <button class="btn btn-danger nutri"><a href="{% url 'food_detail' p.id %}" class="text-white text-capitalize text-decoration-none">{{ p.nutriscore }}</a></button>
                    {% endif %}
                      <h5>{{ p.name }}</h5>
                  </div>
                <div class="card-body">
                    <p><a href="{% url 'food_detail' p.id %}"><img src="{{ p.image }}" alt="" id="object_img"></a></p>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        {% if products.has_other_pages %}
                          <ul class="pagination">
                            {% if products.has_previous %}
                              <li class="page-item"><a href="?page={{ products.previous_page_number }}" class="page-link text-warning">&laquo;</a></li>
                            {% else %}
                              <li class="page-item"><a href="" class="page-link"><span class="page-text">&laquo;</span></a></li>
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <li class="page-item"><a href="" class="page-link"><span class="page-text">{{ i }}<span class="page-text sr-only">(current)</span></span></a></li>
                                {% else %}
                                <li class="page-item"><a href="?page={{ i }}&food={{ food|urlencode }}" class="page-link text-warning">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                  <li class="page-item"><a href="?page={{ products.next_page_number }}" class="page-link text-warning">&raquo;</a></li>
                                {% else %}
                                  <li class="page-item"><a href="" class="page-link"><span class="page-text">&raquo;</span></a></li>
                                {% endif %}
                          </ul>
                            {% endif %}
                    </nav>
                </div>
            </div>
    </div>
{% endblock %}
</body>

</html>