.welcome {
    margin-top: 300px !important;
}

.text_email {
    margin-top: 150px;
}

#email {
    margin: 8%;
    background: #DE9440;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.5);
    color: #fff;
}

#hello {
    font-size: 6em;
}

.head {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/banner.jpg");;
    height: 500px;
}

h1 {
    font-family: "Open Sans", sans-serif;
}