.nutri_image {
    width: 350px;
    height: 237px;
}

.img {
    margin-top: 150px !important;
}

.btn-dark {
    background-color: #345A61 !important;
    margin-bottom: 20px;
}

.ing {
    background: #E8A75D;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.5);
    color: #fff;
}

.line {
    margin-top: 90px !important;
}


h1 {

    font-family: "Open Sans", sans-serif;
}

.nutri {
    margin-top: 30px !important;
}

.button {
    font-family: "Scope One", sans-serif;
}

p {
    font-family: "Scope One", sans-serif;
    font-size: 1.3em;
}

.head {
    height: 500px;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/banner.jpg");
}

@media screen and (max-width: 800px) {
.nutri_image {
    width: 250px;
    height: 187px;
}
p {
    font-family: "Scope One", sans-serif;
    font-size: 1em;
}

}
